.anim-wiggle {
  animation: wiggle 4s 2s infinite; }

@keyframes wiggle {
  5%,
  50% {
    transform: scale(1); }
  10% {
    transform: scale(0.9); }
  15% {
    transform: scale(1.15); }
  20% {
    transform: scale(1.15) rotate(-5deg); }
  25% {
    transform: scale(1.15) rotate(5deg); }
  30% {
    transform: scale(1.15) rotate(-3deg); }
  35% {
    transform: scale(1.15) rotate(2deg); }
  40% {
    transform: scale(1.15) rotate(0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  box-sizing: border-box; }

::selection {
  background-color: #4169E1;
  color: #F6F6FD; }

a {
  color: inherit;
  text-decoration: inherit; }

/*---- FONT WEIGHTS -----/
Barlow: 600 - 900
Lato: 400 - 700 - 900
/-----------------------*/
body {
  font-family: 'Lato', sans-serif;
  color: #515151; }

.header {
  font-family: 'Barlow', sans-serif;
  color: #4169E1;
  font-size: 3rem; }

.header-primary {
  font-size: 3rem;
  font-weight: 900; }

.button {
  font-family: 'Barlow', sans-serif;
  color: #DEDEDF;
  font-size: 2rem;
  text-decoration: none;
  text-align: center; }

.underline {
  border-bottom: 3px solid #4169E1; }

.white-gradient {
  background: linear-gradient(#FFFFFF, #F6F6FD); }

.background-inset {
  background-color: #F6F6FD;
  box-shadow: inset 0px 11px 8px -10px #CCC, inset 0px -11px 8px -10px #CCC; }

.text-center {
  display: inline-block;
  margin-top: 2rem;
  width: 100vw;
  text-align: center; }

.button {
  display: inline-block;
  border-radius: 7px;
  padding: 10px 5px;
  box-shadow: 0 9px 20px rgba(0, 0, 0, 0.25), 0 5px 5px rgba(0, 0, 0, 0.22);
  background-color: #4169E1; }

.submit-button {
  border: none;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none; }

.link-bottom-border {
  font-size: 2rem;
  padding: 0.5rem 2rem;
  color: #4169E1;
  border-bottom: 3px solid #4169E1; }

.forms-group {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .forms-group__input-field {
    margin-top: 4rem; }
  .forms-group__label {
    font-size: 1.5rem; }
  .forms-group__input {
    margin-top: 0.5rem;
    background-color: transparent;
    font-size: 2.1rem;
    border: 0;
    border-bottom: 2px solid #4169E1; }
  .forms-group__button {
    padding: .7rem 1.4rem; }
    .forms-group__button-div {
      margin-top: 5rem;
      width: 100%;
      text-align: center; }

.login-register-group {
  text-align: center; }
  .login-register-group--register {
    margin-bottom: 3rem; }

.card-group {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem; }

.card {
  width: 25rem;
  min-height: 18rem;
  margin-bottom: 5rem;
  border-radius: 10px;
  box-shadow: #E6E6FA 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  text-align: center;
  background-color: #E6E6FA; }
  .card__title {
    font-size: 2rem; }
  .card__header {
    margin-bottom: 2rem;
    overflow: scroll; }
  .card__desc {
    font-size: 1.5rem;
    font-weight: 600; }
    .card__desc--comments {
      margin-bottom: 1.3rem; }

.back-to-profile {
  text-align: center;
  margin-bottom: 5rem; }

.separator {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 1.5rem;
  margin-top: 5rem;
  margin-bottom: 3rem; }
  .separator::before, .separator::after {
    content: '';
    flex: 1;
    border-bottom: 1.4px solid #DEDEDF; }
  .separator:not(:empty)::before {
    margin-right: .25em; }
  .separator:not(:empty)::after {
    margin-left: .25em; }

.header {
  display: inline-block;
  height: 7vh;
  width: 100%;
  padding-bottom: 0.5rem;
  margin-top: 0.5rem; }
  .header__logo-box {
    margin-left: 0.7rem; }
    .header__logo-box--text {
      font-weight: 900;
      text-transform: uppercase; }
    .header__logo-box--bar {
      font-weight: 600; }

.content {
  min-height: 93vh;
  overflow: hidden; }

.copy {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-content: center;
  margin: 0 auto;
  text-align: center;
  /*--------------- VOTE METER ---------------*/
  /*--------------- TEXT/COPY TEXT ---------------*/
  /*--------------- BUTTONS ---------------*/
  /*--------------- ILLUSTRATIONS ---------------*/ }
  .copy__stats {
    display: flex;
    padding-top: 4rem;
    justify-content: space-evenly;
    width: 100%; }
    .copy__stats-personal {
      padding-right: 4rem; }
    .copy__stats-count {
      color: #4169E1;
      font-weight: 900;
      font-size: 5rem; }
  .copy__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto; }
    .copy__item--top {
      width: 100%;
      padding: 3rem 0; }
    .copy__item--CTA {
      display: flex;
      flex: 0 0 40%;
      width: 80%;
      margin-bottom: 10rem; }
  .copy__button {
    width: 60%;
    margin: auto;
    position: fixed;
    bottom: 3.5rem;
    left: 50%;
    transform: translateX(-50%); }
  .copy__illustration {
    height: 10rem;
    margin: 1.9rem 0 1.4rem; }

.profile-picture {
  height: 14rem;
  margin-top: 2rem; }
  .profile-picture__img {
    width: 14rem;
    height: 14rem;
    border-radius: 50%;
    position: absolute;
    right: 50%;
    transform: translateX(50%);
    object-fit: cover;
    object-position: center right; }

.account-detail {
  margin-bottom: 2rem; }
  .account-detail__org {
    font-size: 2rem; }

.profile-menu {
  margin-top: -2rem; }
  .profile-menu__button {
    height: 4.5rem;
    width: 20rem; }

.wrapper-vote {
  height: 100%;
  width: 100%;
  text-align: center; }

.vote-page__title {
  margin-top: 3.5rem; }

.vote-page__vote {
  position: relative;
  width: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 4rem; }
  .vote-page__vote-icon {
    height: 6rem;
    -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.22));
    filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.22)); }
    .vote-page__vote-icon--like {
      margin-right: 8rem;
      margin-top: 2.5rem; }
    .vote-page__vote-icon:active {
      -webkit-filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.1));
      filter: drop-shadow(3px 3px 2px rgba(0, 0, 0, 0.1)); }
  .vote-page__vote-value {
    display: flex;
    justify-content: space-around;
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 5px; }
  .vote-page__vote-status {
    height: 2.5rem;
    margin-bottom: 3rem; }
  .vote-page__vote-status--like {
    background-color: #5cb85c;
    width: 50%; }
  .vote-page__vote-status--dislike {
    background-color: #d9534f;
    width: 100%; }

.vote-page__description {
  font-size: 1.5rem; }
  .vote-page__description-more {
    color: #4169E1; }
  .vote-page__description-text {
    padding-top: 4rem;
    width: 60%;
    margin: 0 auto; }

.vote-page__fixed-buttons {
  margin-top: 6rem;
  display: flex;
  justify-content: space-around; }
