// COLORS //
$color-primary: #4169E1;

$color-light-gray: #E6E6FA;
$color-gray: #DEDEDF;

$color-white: #F6F6FD;
$color-full-white: #FFFFFF;

$color-black: #171717;
$color-light-black: #515151;

// FONT SIZE //
$big-font: 3rem;