.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  
    &::before,&::after {
        content: '';
        flex: 1;
        border-bottom: 1.4px solid $color-gray;
    }
  
    &:not(:empty)::before {
        margin-right: .25em;
    }
  
    &:not(:empty)::after {
        margin-left: .25em;
    }
}