*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    // Correcion del box-sizing para que el tamaño tenga en cuenta al margin y border.
    box-sizing: border-box;
}

::selection {
    background-color: $color-primary;
    color: $color-white;
}

a {
    color: inherit; 
    text-decoration: inherit;
}