/*---- FONT WEIGHTS -----/
Barlow: 600 - 900
Lato: 400 - 700 - 900
/-----------------------*/

body {  
    font-family: 'Lato', sans-serif;
    color: $color-light-black;
}

.header {
    font-family: 'Barlow', sans-serif;
    color: $color-primary;
    font-size: $big-font;
}
.header-primary {
    font-size: $big-font;
    font-weight: 900;
    
}

.button {
    font-family: 'Barlow', sans-serif;
    color: $color-gray;
    font-size: 2rem;
    text-decoration: none;
    text-align: center;
}
