.underline {
    border-bottom: 3px solid $color-primary;
}

.white-gradient {
    background: linear-gradient($color-full-white, $color-white);
}

.background-inset {
    background-color: $color-white;
    box-shadow: 
    inset 0px 11px 8px -10px #CCC,
    inset 0px -11px 8px -10px #CCC; 
}

.text-center {
    display: inline-block;
    margin-top: 2rem;
    width: 100vw;
    text-align: center;
}