.profile-picture {
    height: 14rem;
    margin-top: 2rem;
    &__img {
        width: 14rem;
        height: 14rem;
        border-radius: 50%;
      
        position: absolute;
        right: 50%;
        transform: translateX(50%);
    
        object-fit: cover;
        object-position: center right;
    }
  }

.account-detail {
    margin-bottom: 2rem;
    &__org {
        font-size: 2rem;
    }
}

.profile-menu {
    margin-top: -2rem;
    &__button {
        height: 4.5rem;
        width: 20rem;
    }
}

