.signup-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    
    &__input-field {
        margin-top: 4rem;
    }

    &__label {
        font-size: 1.5rem;
    }

    &__input {
        margin-top: 0.5rem;
        background-color: transparent;
        font-size: 2.1rem;
        border: 0;
        border-bottom: 2px solid $color-primary;
    }

    &__button {
        padding: .7rem 1.4rem;
        &-div{ 
        margin-top: 5rem;
        width: 100%;
        text-align: center;
        }
    }
}

.title-signup {
    display: inline-block;
    margin-left: 50%;
    margin-top: 2rem;
    transform: translateX(-50%);
    width: 100vw;
    text-align: center;
}

.signup-login-group {
    text-align: center;
    &--register {
        margin-bottom: 3rem;
    }
}

.separator {
    display: flex;
    align-items: center;
    text-align: center;
    font-size: 1.5rem;
    margin-top: 5rem;
    margin-bottom: 3rem;
  
    &::before,&::after {
        content: '';
        flex: 1;
        border-bottom: 1.4px solid $color-gray;
    }
  
    &:not(:empty)::before {
        margin-right: .25em;
    }
  
    &:not(:empty)::after {
        margin-left: .25em;
    }
}